<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
    </div>
    <div class="span8">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">首页</a>
        </li>
        <li class="disabled">
          <a href="#">管理 退出</a>
        </li>
        <li class="dropdown pull-right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">控制面板</a>
          <ul class="dropdown-menu">
            <li>
              修改密码
            </li>
            <li>
              退出
            </li>
            <li>
              <a href="#">更多设置</a>
            </li>
          </ul>
        </li>
      </ul>

      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputEmail">邮箱</label>
          <div class="controls">
            <input id="inputEmail" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">密码</label>
          <div class="controls">
            <input id="inputPassword" type="password" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox"><input type="checkbox" /> Remember me</label> <button type="submit" class="btn">登陆</button>
          </div>
        </div>
      </form>
      <p>rrr
        <em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
      </p>
    </div>
  </div>
</div>